<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <p style="margin:20px;"> Are you sure you want to delete "{{item}}"?</p>
    <form action="" method="POST">
        {% csrf_token %}
        <input style="margin:20px;" class="btn btn-primary" type="submit" name="delete">
    </form>
    <a style="margin:25px;" href="/">Cancel</a>
</body>
</html>